#header {
	width: 540px;
	height: 100px;
	margin: 0 auto;
	padding: 0 20px;
	background: tan;
	border-bottom: 1px black;

}
#header h1 {
	float: left;
	padding: 65px 0 0 0;
	font-size: xx-large;
}
#header h2 {
	position: relative;
	float: right;
	padding: 83px 0 0 0;
	font-size: small;
}
#header ul {
	float: right;
	padding: 10px 0 0 0;
	list-style-type: none;
	font: normal medium Arial, Helvetica, sans-serif;
	font-size: .8em;
}
#header li {
	display: inline;
}
#header * {
	margin: 0;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
}

#error{
	color: red;
}
#profile ul{
	list-style-type: none;
	font: normal medium Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding: 0 0 0 5px;
}
#post_add ul{
	list-style-type: none;
}
#content {
	width: 580px;
	height: auto;
	background: #BEE0E0;
}
#content h1{ 
	padding-left: 5px;
}
#content p{ 
	padding-left: 5px;
}
#container {
	width: 580px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid tan;
}
/* CSS to control menu*/
#menu {
	border: 25px solid #FFFFFF;

}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu a {
	display: inline-block;
	float: left;
	width: 116px;
	text-decoration: none;
	text-align: center;
	font: normal medium Arial, Helvetica, sans-serif;
}
#youarehere {
background-color:   #000066;
color:               #FFFFFF;
}
a:link {
	color: #4B689A;
}

#menu a:hover {
	text-decoration: none;
	color:           #FFFFFF;
	background-color: #000066;
}
/* Footer */

#footer {
	border: 1px solid tan;
	width: 579px;
	background: tan;
}

#footer p {
	margin: 0;
	text-align: center;
	font-size: smaller;
}
